@keyframes float {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  /* Aplica la animación a un elemento */
  .float {
    animation: float 2s ease-in-out infinite;
  }
  
.element_margin {
  margin-top: 13rem;
}